<div class="auth-container">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>{{ 'LOGIN.TITLE' | translate }}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'LOGIN.EMAIL' | translate }}</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="credentials.email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
          <input matInput type="password" name="motDePasse" [(ngModel)]="credentials.motDePasse" required>
        </mat-form-field>

        @if (error) {
          <p class="error">{{ error | translate }}</p>
        }

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || loading" class="full-width">
          {{ (loading ? 'LOGIN.SUBMITTING' : 'LOGIN.SUBMIT') | translate }}
        </button>
      </form>

      <p class="link-text">
        {{ 'LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/register">{{ 'LOGIN.REGISTER_LINK' | translate }}</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
