@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
      (
        color: (
          theme-type: light,
          primary: mat.$violet-palette,
          tertiary: mat.$orange-palette,
        ),
        typography: Roboto,
        density: 0,
      )
  );

  // Surcharge des couleurs principales avec la charte La Poste Tunisienne
  --mat-sys-primary: #1B1F5C;
  --mat-sys-on-primary: #FFFFFF;
  --mat-sys-secondary: #F5A623;
  --mat-sys-on-secondary: #1B1F5C;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
