.stage-list-container {
  padding: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

table {
  width: 100%;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.error {
  color: #b00020;
}
